@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Inconsolata&family=Maven+Pro:wght@400;500&display=swap');

body {
font-family: "Maven Pro", sans-serif;
color: var(--gray100);
}

.title-lg {
font-family: "Asap";
font-size: 56px;
font-weight: 700;
}

.title-md {
font-family: "Asap";
font-size: 24px;
font-weight: 700;
}

.code {
font-family: "Inconsolata", monospace;
font-size: 20px;
}