:root {

--red: #E3646E;
--purple: #BB72E9;
--blue: #3996DB;
--green: #82BC4F;
--yellow: #EABD5F;

--gray100: #E2E4E9;
--gray200: #C0C4CE;
--gray300: #878EA1;
--gray400: #292C34;
--gray500: #16181D;
--gray600: #0D0E11;

--container: 1200px;

}